.planetInfo {
  margin: 4rem auto;
}

.informationList {
  display: flex;
  gap: 2.4rem;
}

.informationBox {
  width: 100%;
  text-transform: uppercase;
  padding: 0.4rem 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.15);

  line-height: 4.8rem;
}

.informationBox h3 {
  font-size: 1.6rem;
  color: #fff8;
  letter-spacing: 1.2px;
}

.informationBox p {
  color: #fff;
  font-size: 4rem;
  letter-spacing: -1.8px;
  font-weight: 500;
}
